.container {
  max-width: $desktop-container-width; //1220px
  padding: 0 30px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    // max-width: $tablet-container-width; //678px //? убрать
    // padding: 0;
    padding: 0 45px; //? добавить
  }

  @media (max-width: $mobile-width) {
    max-width: auto;
    padding: 0 15px;
  }
}
