.cruises {
  padding-bottom: 90px;
  padding-top: 87px;
}

.cruises h2 {
  margin-bottom: 49px;

  @include text(28px, 42px);
  font-weight: 600;
  text-align: center;
}

.cruises__list,
.cruises__info-list {
  @include list-reset;
}

.cruises__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cruises__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 260px;
  height: 386px;
  padding: 20px 30px;
  margin: 0 15px 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &--astoria {
    background-image: url("../img/astoria@1x.jpg");
    background-position: -166px 0;
  }

  &--aline,
  &--minion {
    background-image: url("../img/minion-1@1x.jpg");
    background-position: -179px 0;
    background-size: 215%;
  }

  &--atlantis {
    background-image: url("../img/atlantis@1x.jpg");
  }

  &--odysseus {
    background-image: url("../img/odysseus@1x.jpg");
    background-position: -119px 0;
    background-size: 216%;
  }

  &--olympia {
    background-image: url("../img/olympia@1x.jpg");
    background-position: -116px 0;
    background-size: 212%;
  }

  &--aurora {
    background-image: url("../img/aurora@1x.jpg");
    background-position-x: -109px;
  }

  &--leonor {
    background-image: url("../img/leonor@1x.jpg");
    background-position-x: -145px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    &--astoria {
      background-image: url("../img/astoria@2x.jpg");
    }

    &--aline,
    &--minion {
      background-image: url("../img/minion-1@2x.jpg");
    }

    &--atlantis {
      background-image: url("../img/atlantis@2x.jpg");
    }

    &--odysseus {
      background-image: url("../img/odysseus@2x.jpg");
    }

    &--olympia {
      background-image: url("../img/olympia@2x.jpg");
    }

    &--aurora {
      background-image: url("../img/aurora@2x.jpg");
    }

    &--leonor {
      background-image: url("../img/leonor@2x.jpg");
    }
  }
}

.cruises__item h3,
.cruises__info h3 {
  margin: 0;

  @include text(18px, 27px);
  font-weight: 500;
  color: $text-light;
}

.cruises__info h3 {
  padding-bottom: 15px;
}

.cruises__info {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 29px 25px 34px;

  @include text(14px, 20px);
  color: $text-light;
  background-color: $text-dark;
}

.cruises__info-item h4 {
  font-weight: 500;
  margin: 0;
}

.cruises__info-item p {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 400;
  color: $text-gray;
}

.cruises__button {
  display: block;
  width: 210px;
  min-height: 40px;
  margin-top: auto;
  padding: 10px 20px;

  @include text(14px, 21px);
  text-align: center;
  font-weight: 600;

  color: $text-dark;
  background-color: $text-light;

  &:hover {
    color: $text-dark;
    background-color: $color-accent;
  }

  &:focus {
    outline: dashed 2px rgba(255, 255, 255, 0.4);
    outline-offset: 2px;
  }

  &:active {
    color: $text-light;
    background-color: darken($color-accent, 15%);
  }
}

.cruises__item:hover .cruises__info,
.cruises__item:active .cruises__info,
.cruises__item--focused .cruises__info {
  display: flex;
}

@media (max-width: $tablet-width) {
  .cruises {
    padding-top: 69px;
    padding-bottom: 69px;
  }

  .cruises h2 {
    @include text(26px, 39px);
  }

  .cruises__item {
    position: relative;
    width: 309px;
    padding: 27px 35px;

    &--astoria {
      background-position: -144px 0;
    }

    &--aline,
    &--minion {
      background-position: -203px -43px;
      background-size: 206%;
    }

    &--odysseus {
      background-position: -111px -2px;
      background-size: 198%;
    }

    &--olympia {
      background-position: -149px -4px;
      background-size: 197%;
    }

    &--leonor {
      background-position-x: -124px;
    }
  }

  .cruises__info {
    padding: 29px 36px 35px;
  }

  .cruises__button {
    width: 239px;
  }
}

@media (max-width: $mobile-width) {
  .cruises {
    padding-top: 37px;
    padding-bottom: 35px;
  }

  .cruises h2 {
    margin-bottom: 30px;

    @include text(24px, 36px);
  }

  .cruises__item {
    position: relative;
    width: 270px;
    padding: 17px 25px;
    margin: 0 10px 30px;

    &--astoria {
      background-position: -162px 0;
    }

    &--aline,
    &--minion {
      background-position: -191px 0;
      background-size: 217% 108%;
    }

    &--odysseus {
      background-position: -98px 0;
      background-size: 199% 118%;
    }

    &--olympia {
      background-position: -128px 0;
      background-size: 195% 116%;
    }

    &--aurora {
      background-position-x: -124px;
    }

    &--leonor {
      background-position-x: -141px;
    }
  }

  .cruises__info {
    padding: 29px 25px 35px;
  }

  .cruises__button {
    width: 220px;
  }
}
