.footer {
  background-color: $text-dark;
  color: $text-light;
}

.footer__inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 49px;
  padding-bottom: 49px;
}

.footer__logo-link:hover .footer__logo-svg {
  fill: $color-accent;
}

.footer__logo-link {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
  }

  &:focus {
    outline: dashed 2px rgba(255, 255, 255, 0.2);
    outline-offset: 0;
  }
}

.footer__logo-link:active .footer__logo-svg {
  fill: darken($color-accent, 15%);
}

.footer__logo-svg {
  fill: $text-light;
}

.footer__nav-list,
.footer__social {
  display: flex;
  justify-content: space-between;

  @include list-reset;
}

.footer__nav-list {
  @include text(16px, 20px);
  font-weight: 500;
  margin-left: 22px;
}

.footer__social {
  align-items: center;
  width: 117px;
  margin-left: auto;
}

.footer__nav-link {
  padding: 10px 17px;
  display: block;

  &:hover {
    color: $color-accent;
  }

  &:focus {
    outline: dashed 2px rgba(255, 255, 255, 0.2);
    outline-offset: 0;
  }

  &:active {
    color: darken($color-accent, 15%);
  }
}

.footer__social-svg {
  fill: $text-light;
}

.footer__social-link:hover .footer__social-svg {
  fill: $color-accent;
}

.footer__social-link {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
  }

  &:focus {
    outline: dashed 2px rgba(255, 255, 255, 0.2);
    outline-offset: 3px;
  }
}

.footer__social-link:active .footer__social-svg {
  fill: darken($color-accent, 15%);
}


@media (max-width: $tablet-width) {
  .footer__logo-svg {
    width: 38px;
    height: 20px;
  }

  .footer__nav-list {
    margin-left: 25px;

    @include text(12px, 15px);
  }

  .footer__nav-link {
    padding: 0 24px 0 0;
  }

  .footer__social {
    width: 87px;
  }

  .footer__social-svg {
    &--facebook {
      width: 9px;
      height: 16px;
    }

    &--instagram {
      width: 16px;
      height: 16px;
    }

    &--twitter {
      width: 16px;
      height: 13px;
    }
  }
}

@media (max-width: $mobile-width) {
  .footer__inner {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .footer__logo-svg {
    width: 42px;
    height: 22px;
  }

  .footer__nav-list {
    flex-direction: column;
    margin: 15px 0 17px;
  }

  .footer__nav-list,
  .footer__social {
    margin-left: 0;
  }

  .footer__nav-link {
    padding: 8px 24px 9px 0;
  }
}
