.main-nav {
  width: 80%;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  min-height: 38px;

  @include text(16px, 20px);
  @include list-reset;
}

.main-nav__link {
  padding: 10px 0 20px 36px;
  text-align: right;
  transition: 0.3s;

  &:hover {
    opacity: 0.7;
    text-decoration: underline;
  }

  &:focus {
    outline: dashed 2px rgba(255, 255, 255, 0.2);
    outline-offset: 0;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $tablet-width) {
  .main-nav__list {
    @include text(14px, 17px);
  }

  .main-nav__link {
    padding-left: 26px;
    text-align: right;
  }
}

@media (max-width: $mobile-width) {
  .main-nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .main-nav__list {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    min-height: 299px;
    padding: 77px 15px 15px;

    @include text(18px, 22px);
    font-weight: 500;
    color: $text-dark;
    background-color: $text-light;
  }

  .main-nav__item {
    &--destinations {
      order: -1;
    }
  }

  .main-nav__link {
    display: block;
    padding: 11px 0 10px;
  }
}
