$font-main: "Montserrat", "Arial", sans-serif;

$text-light: #f9fbfd;
$text-gray: #d8d8d9;
$text-dark: #011c40;
$color-accent: #76bff1;

$tablet-width: 1023px;
$mobile-width: 767px;

$desktop-container-width: 1220px;
$tablet-container-width: 678px;

$retina-dpi: 144dpi;
$retina-dppx: 2dppx;
